@inherits LayoutComponentBase

@using MKDIR.WebApp.Interfaces.Services;
@inject ILoginServiceJwT loginserviceJwT
@inject NavigationManager navigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <a @onclick="CerrarSesion" href="javascript:void(0)">Salir</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async Task CerrarSesion()
    {
        await loginserviceJwT.Logout();
        navigationManager.NavigateTo("/Login");
    }

}