@inherits LayoutComponentBase

@using MKDIR.WebApp.Interfaces.Services;
@using Microsoft.AspNetCore.Components.Authorization;
@inject ILoginServiceJwT loginserviceJwT
@inject NavigationManager navigationManager
@inject IJSRuntime js
@inject MKDIR.WebApp.Authentication.RenovadorToken renovadorToken

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <a @onclick="CerrarSesion" href="javascript:void(0)">Salir</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; } = null!;

    protected async override Task OnInitializedAsync()
    {
        await js.InvokeVoidAsync("timerInactivo", DotNetObjectReference.Create(this));
        renovadorToken.Iniciar();
    }

    [JSInvokable]
    public async Task Logout()
    {
        var authState = await AuthenticationStateTask;
        if (authState.User.Identity!.IsAuthenticated)
        {
            await this.CerrarSesion();
        }
    }

    private async Task CerrarSesion()
    {
        await loginserviceJwT.Logout();
        navigationManager.NavigateTo("/Login");
    }

}